name: Build and Test

on:
  push:
    branches:
      - "master"
  pull_request:

jobs:
 gradle:
   runs-on: windows-2022
   steps:
   - uses: actions/checkout@v2

   - name: Set up WSL
     uses: Vampire/setup-wsl@v1

   - uses: actions/setup-java@v2
     with:
       distribution: adopt-hotspot
       java-version: 17

   - name: Setup Gradle
     uses: gradle/gradle-build-action@v2
     with:
       gradle-version: 7.4

   - name: Execute Gradle build
     run: gradle build

   - name: Install dependencies
     shell: wsl-bash {0}
     run: |
       apt update
       apt install make nasm gcc -y

   - name: Run tests
     run: gradle runTests


  # Ubuntu workflow, something goes wrong in the test, perhaps fix in the future
  # gradle:
  #   runs-on: ubuntu-20.04
  #   steps:
  #     - uses: actions/checkout@v2

  #     - uses: actions/setup-java@v2
  #       with:
  #         distribution: temurin
  #         java-version: 17

  #     - name: Setup Gradle
  #       uses: gradle/gradle-build-action@v2
  #       with:
  #         gradle-version: 7.3

  #     - name: Execute Gradle build
  #       run: gradle build

  #     - name: Install dependencies
  #       run: |
  #         sudo apt update
  #         sudo apt install make nasm gcc -y

  #     - name: Run tests
  #       run: gradle runTests